.DS_Store
*.pyc
#ignore node_modules, as the node project is not "deployed" per se: http://www.mikealrogers.com/posts/nodemodules-in-git.html
/client/node_modules
/client/generated
/venv
/staticfiles
