<div class="ui form" ng-controller="FormController">
  <div class="field">
    <label>Thread Title</label>
    <div class="ui left labeled input">
      <input type="text" placeholder="Title" ng-model="threadTitle">
    </div>
  </div>
  <div class="field">
    <label>Thread Forum</label>
    <select ng-model="threadForum" ng-options="forum.title for forum in forums"></select>
  </div>
  <div class="field">
    <label>Body</label>
    <div class="ui left labeled icon input">
      <textarea ng-model="threadBody"></textarea>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="ui blue submit button" ng-click="newThread()">Post</div>
</div>
