<!-- <div class="ui tabular filter menu">
  <a class="active item" data-tab="unread">Unread</a>
  <a class="item" data-tab="saved">Saved</a>
  <a class="item" data-tab="all">All</a>
</div> -->
<div class="ui divided inbox selection list active tab" data-tab="unread">
  <a class="item" ng-repeat="thread in threads" ng-click="go('/forum/{{thread.forum.id}}/thread/{{thread.id}}/')">
    <div class="right floated date">{{thread.created| timeAgo}}</div>
    <i class="empty star link icon"></i>
    {{thread.forum.title}}: {{thread.title}}
  </a>
</div>
<div class="ui divided inbox selection list tab" data-tab="saved">
  <a class="item">
    <div class="right floated date">Sep 14, 2013</div>
    <i class="teal emphasized star link icon"></i>
    Your favorite saved article
  </a>
  <a class="item">
    <div class="right floated date">Sep 14, 2013</div>
    <i class="teal emphasized star link icon"></i>
    Your favorite saved article
  </a>
  <a class="item">
    <div class="right floated date">Sep 14, 2013</div>
    <i class="teal emphasized star link icon"></i>
    Your favorite saved article
  </a>
</div>
<div class="ui divided inbox selection list tab" data-tab="all">
  <a class="item">
    <div class="right floated date">Sep 14, 2013</div>
    <i class="star link icon"></i>
    There turns out there is only one article under all.
  </a>
</div>

