<div class="ui large fluid inverted vertical menu">
  <h2 class="ui header" ng-click="go('/home')">
      <i class="icon inverted circular blue comment"></i> ngForum
  </h2>
<!--   <a class="active item">
    Intros <span class="ui label">10</span>
  </a> -->
  <a class="item" ng-repeat="forum in forums" href="/forum/{{ forum.id}}">
    {{forum.title}} <span class="ui label">{{ forum.id}}</span>
  </a>
  <!-- <div class="item">
    <b>Archived Threads</b>
    <div class="menu">
      <a class="item">
        Engadget <span class="ui label">11</span>
      </a>
      <a class="item">
        NY Times Tech Blog <span class="ui label">21</span>
      </a>
    </div>
  </div> -->
  <a class="item">
    <i class="bookmark icon"></i> Favorites
  </a>
  <a class="item" ng-click="go('/new')">
    <i class="add icon"></i> New Topic
  </a>
</div>
